<h1>Blog Post:</h1>
<ul>
<p>Title:</p>
<%= @blog.title %>

<p>Content:</p>
<%= @blog.content %>

<br>
<br>

<%= button_to 'Delete Item', delete_blog_path(@blog), method: :delete, form:{data: { 'turbo-confirm': 'This will permanently delete your blog post?'} }%>

<br>
<br>
<%= link_to 'Edit a Blog Post', edit_blog_path(@blog)%>
<br>
<br>

<%= link_to 'Back to Home', blogs_path %>

</ul>